  .App {
    text-align: center;
  }

  .sequence {
    display: flex;
    justify-content: center;
  }

  .colored-box {
    width: 35px;
    height: 35px;
    background-color: #008B8B;
    margin-top: 110px;
  }

  .box-grid-container {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
  }

  .box-grid {
    display: grid;
    grid-template-columns: repeat(3, 100px); 
    gap: 10px; 
    justify-content: center; 
  }

  .box {
    width: 100px;
    height: 100px;
    background-color: #008B8B; 
    border-radius: 10px;
  }

  .box:hover {
    background-color: #0070BB;
  }

  .box-clicked {
    background-color: #0070BB;
  }
